[1] 도시별 관광지 수 <hr>

In [35]:
## [1-1] 모듈 로딩 
import pandas as pd      # 데이터 분석 및 전처리 관련 모듈 
import numpy as np       # NaN/NAN/nan 즉, 빈칸 표시 관련 모듈

In [36]:
## [1-2] 데이터 준비 -> 엑셀파일 불러오기

FILE_EXCEL='./PROJECT_DATA/관광지수1.xlsx'

In [37]:
'''
총 4개
landmarkDF: all_sheet의 관광지 명까지의 DataFrame
landmark_smallDF: 각 구/군별로 관광지 수를 합한 DataFrame
landmark_best_smallDF: 대단위 내 가장 많은 관광지 수의 구/군 DataFrame
landmark_bigDF: 각 시별로 관광지 수를 합한 DataFrame
'''

'\n총 4개\nlandmarkDF: all_sheet의 관광지 명까지의 DataFrame\nlandmark_smallDF: 각 구/군별로 관광지 수를 합한 DataFrame\nlandmark_best_smallDF: 대단위 내 가장 많은 관광지 수의 구/군 DataFrame\nlandmark_bigDF: 각 시별로 관광지 수를 합한 DataFrame\n'

In [38]:
## [1-3] 엑셀 파일의 모든 시트를 딕셔너리로 불러오기 
## - sheet_name=None을 이용하여 모든 시트를 한번에 불러옴
all_sheets=pd.read_excel(FILE_EXCEL, sheet_name=None)
all_sheets=pd.concat(all_sheets.values(), ignore_index=True)
all_sheets
all_sheets.iloc[:,2].unique()
all_sheets.iloc[:,:3].isna().sum()
landmarkDF=all_sheets.iloc[:,:3]
landmarkDF.dropna(inplace=True)
landmarkDF
list2=[]
# landmarkDF[['시도','군구']].drop_duplicates(inplace=True)
y = landmarkDF.iloc[:,:2].drop_duplicates().values
list2 = []
# 1.대단위 내 소단위 관광지 숫자 합하기 방법
# for x in y:
#     # x[0]: '시도', x[1]: '군구' 값
#     z=len(landmarkDF[(landmarkDF['시도'] == x[0])&(landmarkDF['군구'] == x[1])].index)
#     list2.append(z)
# --------------------------------------------------------------------------------
# 2.대단위 내 소단위 관광지 숫자 합하기 방법
for x in y:
    list2.append(len(landmarkDF[(landmarkDF.iloc[:,:2]==x).all(axis=1)].index))
list2
landmark_smallDF=landmarkDF.iloc[:,:2].drop_duplicates()
landmark_smallDF['관광지 수']=list2
landmark_smallDF.reset_index(drop=True, inplace=True)
landmark_smallDF

          시도    군구  관광지 수
0      서울특별시   종로구      4
1      서울특별시    중구      3
2      서울특별시   용산구      1
3      서울특별시  동대문구      2
4      서울특별시   노원구      1
..       ...   ...    ...
198     경상남도   함양군     18
199     경상남도   거창군      8
200     경상남도   합천군     20
201  제주특별자치도   제주시     16
202  제주특별자치도  서귀포시     20

[203 rows x 3 columns]

In [39]:
# 대단위 내 가장 가장많은 관광지를 보유하고 있는 구/군 데이터
landmark_best_smallDF=pd.DataFrame()
for x in landmark_smallDF['시도'].unique():    
    count=landmark_smallDF[(landmark_smallDF['시도']==x)]['관광지 수'].max()
    landmark_best_smallDF=pd.concat([landmark_best_smallDF,landmark_smallDF[(landmark_smallDF['관광지 수']==count) & (landmark_smallDF['시도']==x)]])
landmark_best_smallDF.reset_index(drop=True,inplace=True)
landmark_best_smallDF

         시도       군구  관광지 수
0     서울특별시      종로구      4
1     부산광역시       북구      4
2     대구광역시       동구     21
3     인천광역시      강화군     14
4     광주광역시       동구     14
5     대전광역시      유성구      9
6     울산광역시      울주군     17
7   세종특별자치시  세종특별자치시     14
8       경기도      용인시     36
9   강원특별자치도      춘천시     39
10     충청북도      충주시     43
11     충청남도      부여군     31
12     전라북도      익산시     27
13     전라남도      순천시     38
14     경상북도      포항시     38
15     경상남도      거제시     86
16  제주특별자치도     서귀포시     20

In [40]:
list2=[]
for x in landmarkDF.iloc[:,0].drop_duplicates().values:
    list2.append(len(landmarkDF[landmarkDF.iloc[:,0]==x].index))
len(list2)
landmark_bigDF=landmarkDF.iloc[:,:1].drop_duplicates()
landmarkDF['시도'].unique()
landmark_bigDF['관광지 수']=list2
landmark_bigDF.reset_index(drop=True,inplace=True)
landmark_bigDF

         시도  관광지 수
0     서울특별시     17
1     부산광역시     17
2     대구광역시     90
3     인천광역시     54
4     광주광역시     44
5     대전광역시     27
6     울산광역시     39
7   세종특별자치시     14
8       경기도    386
9   강원특별자치도    298
10     충청북도    195
11     충청남도    222
12     전라북도    222
13     전라남도    480
14     경상북도    358
15     경상남도    600
16  제주특별자치도     36